{% load static %}

<body>

<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a" method="get" action="{% url 'property:search_property' %}">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="Type">Keyword</label>
                        <input name="q" type="text" class="form-control form-control-lg form-control-a"
                               placeholder="Keyword">
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-b">Search Property</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--/ Form Search End /-->

<!--/ Nav Star /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" href="{% url 'home:home' %}">Estate<span class="color-b">Agency</span></a>
        <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %}"
                       href="{% url 'home:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %} active {% endif %}"
                       href="{% url 'home:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'list_agent' or request.resolver_match.url_name == 'detail_agent' %} active {% endif %}"
                       href="{% url 'agent:list_agent' %}">Agent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'list_property' or request.resolver_match.url_name == 'detail_property' or request.resolver_match.url_name == 'search_property' %} active {% endif %}"
                       href="{% url 'property:list_property' %}">Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'list_blog' or request.resolver_match.url_name == 'detail_blog' %} active {% endif %}"
                       href="{% url 'blog:list_blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'contact' %} active {% endif %}"
                       href="{% url 'home:contact' %}">Contact</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'account:login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'account:register' %}">Register</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if request.resolver_match.url_name == 'edit_profile' %} active {% endif %}"
                           href="{% url 'account:edit_profile' request.user.id %}">
                            {% if request.user.image %}
                                <img style="width: 35px; height: 40px; border-radius: 30px;"
                                     src="{{ request.user.image.url }}">
                            {% else %}
                                <img style="width: 35px; height: 40px; border-radius: 30px;"
                                     src="{% static 'img/person.png' %}">
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </div>
</nav>
<!--/ Nav End /-->
