{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Our Amazing Posts</h1>
                        <span class="color-text-a">Grid News</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href=""></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ News Grid Star /-->
    <section class="news-grid grid">
        <div class="container">
            {% for blog in object_list %}
                <div class="row">


                    <div class="col-md-4">
                        <div class="card-box-b card-shadow news-box">
                            <div class="img-box-b">
                                <img src="{{ blog.image.url }}" alt="" class="img-b img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-header-b">
                                    <div class="card-category-b">
                                        <a href="#" class="category-b">{{ blog.category }}</a>
                                    </div>
                                    <div class="card-title-b">
                                        <h2 class="title-2">
                                            <a href="{{ blog.get_absolute_url }}">{{ blog.title|truncatechars:20 }}</a>
                                        </h2>
                                    </div>
                                    <div class="card-date">
                                        <span class="date-b">{{ blog.get_date_created }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        {% if page_obj.has_other_pages %}
                            <ul class="pagination justify-content-end">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                           tabindex="-1">
                                            <span class="ion-ios-arrow-back"></span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for page in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item next">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                            <span class="ion-ios-arrow-forward"></span>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ News Grid End /-->

{% endblock %}
